* {
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NOO-AGAIN-PAGE {
    font-family: "custom1";
    list-style: none;
    padding: 20px;
    border: 3px solid black;
    border-radius: 50px;
    width: 800px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    background-color: white;
    color: #333;
    font-size: 70px;
    text-align: center;
}

li {
    text-decoration: none;
    color: black;
    border: 7px dashed black;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px
}

p {
    margin-top: 30px;
    margin-bottom: 30px;
}