body {
    background-color: #0f0f0f;
}
.PAGE {
    font-family: "custom2";
    list-style: none;
    padding: 20px;
    border: 3px solid #181818;
    border-radius: 50px;
    width: 1100px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    background-color: #181818;
    color: white;
    font-size: 40px;
    text-align: center;
}

.PAGE p {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

li {
    border: 5px white dashed;
    border-radius: 20px;
}